apiVersion: apps/v1
kind: Deployment
metadata:
  name: echoserver-assembly
  labels:
    app: echoserver-assembly
spec:
  replicas: 2
  selector:
    matchLabels:
      app: echoserver-assembly
  template:
    metadata:
      labels:
        app: echoserver-assembly
    spec:
      containers:
        - name: echoserver
          image: garvitbhateja/echoserver-assembly:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
              name: http
          resources:
            requests:
              memory: "8Mi"
              cpu: "50m"
            limits:
              memory: "32Mi"
              cpu: "200m"
          livenessProbe:
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 2
            periodSeconds: 10
            timeoutSeconds: 3
          readinessProbe:
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 1
            periodSeconds: 5
            timeoutSeconds: 2
